header {
  background-image: url('img/lowpoly.jpg');
  height: 100px;
  padding-top: 20px;
  box-shadow: 5px 3px 8px #888888;
  color: white;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Saira', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Saira', sans-serif;
  font-weight: 300;
}

table td tr {
  border: 1px solid red;
}

.form {
  margin: 30px;
}

/*footer {
  height: 200px;
  background-image: url('img/monobackground.jpg');
  margin-top: 150px;
}*/
