header {
  background-image: url('img/lowpoly.jpg');
  height: 100px;
  padding-top: 20px;
  box-shadow: 5px 3px 8px #888888;
  color: white;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
}

h1,h3 {
  font-family: 'Saira', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Saira', sans-serif;
  font-weight: 300;
}

table td tr {
  border: 1px solid red;
}

fieldset {
  border: 0;
}

footer {
  height: 200px;
  background-image: url('img/monobackground.jpg');
  margin-top: 150px;
}

hr {
  color: lightgrey;
  width: 55%;
  border-top: 1px dotted #8c8b8b;
}

tabl {
  margin-left: 20%;
}

table,th,td {
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  border-collapse: collapse;
  margin-left: 30%;
}

table img {
  height: 150px;
  padding-left: 20px;
  padding-right: 20px;
}

tr,td {
  border-bottom: 1px solid rgb(234, 234, 234);
  padding: 10px;
  padding-top: 20px;
}

button {
  color: white;
  background-color: rgb(1, 175, 164);
  font-family: 'Saira', sans-serif;
  font-weight: 700;
  font-size: 12px;
  border: 1px solid rgb(0, 140, 131);
  padding: 10px 15px;
  margin-left: 35px;
}

.form {
  margin: 30px;
  border: 0;
  font-family: 'Saira', sans-serif;
}

.form input {
  margin: 20px;
}
